@import '../../colors.scss';

#sign-in {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .container-sign-in {

        .content-tab {

            width: 450px;

            .required {
                border-color: $main-color-cancel;
            }

            .req {
                color: $main-color-cancel;
            }

            h1 {
                text-align: center;
            }

            .footer-sign-in {
                font-size: 15px;
                text-align: center;
                margin: 0 auto;
                margin-top: 30px;
                width: 280px;
            }

            .hide {
                display: none;
            }

            .show {
                display: block;
            }

            .block-container {

                .container-input {
                    width: 48.8%;
                    display: inline-block;

                    input {
                        width: 83%;
                    }

                    &:first-child {
                        margin-right: 5px;
                    }

                    &:last-child {
                        margin-left: 5px;
                    }
                }

            }

        }

        .container-tabs {

            margin-bottom: 40px;
            background: $main-color;
            border-radius: 10px;

            .tab {
                width: 50%;
                padding: 15px;
                font-size: 18px;
                text-align: center;
                display: inline-block;
                text-decoration: none;
                color: $white;
                cursor: pointer;
                background: $grey-light;
                border: none;

                &:first-child {
                    border-top-left-radius: 10px;
                }

                &:last-child {
                    border-top-right-radius: 10px;
                }

            }

            .tab:hover,
            .active {
                background: $main-color;
            }
        }

    }
}